.main-footer {
    width: 100%;
    padding: 4px;
    background: var(--header-background);
    font-size: 0.8em;
}
.main-footer .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.main-footer .container p {
    color: rgb(var(--dark-grey));
    text-align: center;
}
.main-footer .container .col {
    width: 33.3333%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-footer .container .col .col-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.main-footer .container .col .col-group img {
    max-width: 1em;
}
.main-footer .container .col.logo {
    max-width: 100px;
}
.main-footer .container .col.logo img {
    width: 90%;
}
@media screen and (max-width: 500px) {
    .main-footer {
        font-size: 0.55em;
    }
    .main-footer .container .col.logo {
        max-width: 70px;
    }
}