:root {
  /* colores */
  --main-color: #6f9a86;
  --secondary-color: #44705b;
  --light-color: #8dc0af;
  --dark-color: #628580;
  --golden: 218, 123, 24;
  --olive-soft: #7a9f79;
  --olive-dark: #5b755a;
  --olive-text: 68, 90, 20;
  --calendar-bg: #f5f1e0;
  --white: 250, 250, 250;
  --black: 33, 33, 33;
  --red: 207, 7, 7;
  --green: 3, 129, 30;
  --light-grey: 221, 221, 221;
  --mid-grey: 100, 100, 100;
  --dark-grey: 49, 49, 49;
  --home-background: #ecebeb;
  --header-background: #d3e4dc;
  --dark-background: 30, 30, 30;
  --light-background: 245, 245, 220;
  /* font */
  --title-font-size: 3.2em;
  --gral-font-size: 2.5em;
  --small-font-size: 1em;
  /* dimensions */
  --header-height: 100px;
  --border-radius: 20px;
}

* {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main-container {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  padding: 40px 0;
  background: var(--home-background);
}

h1 {
  font-size: var(--title-font-size);
  line-height: 1.1;
}

@media screen and (max-width: 500px) {
  #app {
    height: unset;
  }
  .main-container {
    padding: 10px 0;
  }
}